.env
venv/
**/__pycache__/
.pytest_cache/
/Tests
/my_tests
/old_codes
/dist
/codes
/build
/SimplerLLM/workflow
/SimplerLLM.egg-info
.pypirc 
generate_images.py
generate_text.py
chunk_text.py
generate_code.py
generate_embeddings.py
test_embed.py
test_generate.py
test_chunker.py
lib_test.py
/SimplerLLM/tools/web_crawler.py
/SimplerLLM/language/llm_providers/transformers_llm.py
test_agents.py
test_pydantic.py
test_tool.py
/SimplerLLM/tools/predefined_tools.py
/SimplerLLM/agents
test.csv
test_data_agent.py
test_sql_agent.py
vb_ui.py
vd_test.py