aiohttp>=3.9
duckduckgo_search>=5.3
lxml_html_clean>=0.1
newspaper3k>=0.2
numpy>=1.26
openai>=1.59
pydantic>=2.10
PyPDF2>=3.0
python-dotenv>=1.0
python_docx>=1.1
requests>=2.31
youtube_transcript_api>=0.6
colorama>=0.4
scipy>=1.15
tiktoken>=0.9
